################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelAppDB/HotelAppDB.dbmdl
/HotelAppDB
/Sample Queries
/.vs
*.log # any file with .log extention
**/logs/ # any directory any level that has the name logs  in it
**/Debug/
**/Release/
**/bin/
**/obj/